@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

/* Remove arrows in number input (Chrome, Safari, Edge) */
.input-no-arrow::-webkit-outer-spin-button,
.input-no-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in Firefox */
.input-no-arrow {
  -moz-appearance: textfield;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }

  html {
    font-family: 'Nunito', system-ui, sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Poppins', sans-serif;
  }

  button,
  .btn {
    font-family: 'Quicksand', sans-serif;
  }

  .price-tag {
    font-family: 'Raleway', sans-serif;
  }

  .special-text {
    font-family: 'Caveat', cursive;
  }

  body {
    @apply transition-colors duration-200;
  }
}

@layer components {
  .card {
    font-family: 'Quicksand', sans-serif;
  }

  .menu-item {
    font-family: 'Raleway', sans-serif;
  }


  .loader {
    @apply border-t-4 border-primary rounded-full animate-spin;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f3f4f6;
  /* Tailwind: bg-gray-100 */
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background-color: #1e293b;
    /* Tailwind: dark:bg-dark-card or bg-slate-800 */
  }
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  /* Tailwind: bg-gray-300 */
  border-radius: 9999px;
  /* Tailwind: rounded-full */
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    /* Tailwind: dark:bg-gray-600 */
  }
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
  /* Tailwind: bg-gray-400 */
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280;
    /* Tailwind: dark:bg-gray-500 */
  }
}


/* Font classes */
.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-quicksand {
  font-family: 'Quicksand', sans-serif;
}

.font-nunito {
  font-family: 'Nunito', sans-serif;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}

.font-caveat {
  font-family: 'Caveat', sans-serif;
}